<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Report 2</h2>
<h2>List Customers have Dob equals 2000</h2>
<div th:if="${customers.size()>0}">
    <table>
        <thead>
        <th>Customer id</th>
        <th>Customer name</th>
        <th>Customer address</th>
        <th>Customer email</th>
        <th>Customer birthday</th>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.dob}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${customers.size() == 0}">
    <h4 style="color: tomato">No customer was found!!!</h4>
</div>
</body>
</html>